backports.tarfile
brotli
cffi
dearpygui
faiss
faiss-cpu
fastapi
h2
importlib-metadata
jaraco.collections
open-clip-torch
opencv-python
pandas
pip-chill
platformdirs
pysocks
python-multipart
tomli
umap-learn
uvicorn
win-inet-pton
zstandard
